html{
  scroll-behavior: smooth;
}


body{
  font-family: Arial, Helvetica, sans-serif;
}

img,
video{
  max-width: 80%;
  height: auto;
}

h1{
  color: navy;
}

h3{
  color: rgb(237, 102, 30);
  text-decoration: underline;
}

h4{
  color: rgb(237, 122, 61);
}

#fox{
  max-width: 200px;
  max-height: 100px;
  width: auto;
  height: auto;
  /* Mantener la proporción de aspecto */
}

pre {
  background-color: #0f0e0e;
  border-radius: 5px;
  color: aliceblue;
  /* Permite el desplazamiento horizontal */
  height: auto;
  white-space: pre-wrap;
    /* Ajusta el texto automáticamente al ancho del contenedor */
  word-wrap: break-word;
    /* Permite que las palabras largas se ajusten a la línea */
  overflow-x: auto;
    /* Agrega un scroll horizontal si el contenido es más ancho que el contenedor */
  max-width: 100%;
    /* Se asegura de que el <pre> no exceda el ancho del contenedor padre */
  box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total */
  padding: 10px;
    /* Espaciado interno para que el contenido no toque los bordes */
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: #eaf0ef;
  /* Color para el texto del código */
}

pre a{
  color: blue;
}

iframe{
  width: 80%;
  height: 400px;
  margin-top: 3px;
  border: 1px solid rgb(35, 66, 151);
  border-radius: 7px;
}

input{
  margin-top: 3px;
}