html{
  scroll-behavior: smooth;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

img,
video{
  max-width: 80%;
  height: auto;
}

h1{
  color: navy;
}

h3{
  color: rgb(237, 102, 30);
  text-decoration: underline;
}

h4{
  color: rgb(237, 122, 61);
}

#fox{
  max-width: 200px;
  max-height: 100px;
  width: auto;
  height: auto;
  /* Mantener la proporción de aspecto */
}

pre {
  background-color: #0f0e0e;
  border-radius: 5px;
  color: aliceblue;
  height: auto;
  white-space: pre-wrap;
    /* Ajusta el texto automáticamente al ancho del contenedor */
  word-wrap: break-word;
    /* Permite que las palabras largas se ajusten a la línea */
  overflow-x: auto;
    /* Agrega un scroll horizontal si el contenido es más ancho que el contenedor */
  max-width: 50%;
    /* Se asegura de que el <pre> no exceda el ancho del contenedor padre */
  box-sizing: border-box;
    /* Incluye el padding y el borde en el ancho total */
  padding: 10px;
    /* Espaciado interno para que el contenido no toque los bordes */
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: #eaf0ef;
  /* Color para el texto del código */
}

pre a{
  color: blue;
}

iframe{
  width: 80%;
  height: 400px;
  margin-top: 3px;
  border: 1px solid rgb(35, 66, 151);
  border-radius: 7px;
}

input{
  margin-top: 3px;
}

/* -------COntact Form -------------*/

.contact-form{
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > *{
  padding: 0.5rem;
  margin-top: 1rem;
  display: block;
  width: 50%;
}

.contact-form textarea{
  resize: none;
}

.contact-form legend,
.contact-form-response{
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea{
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"]{
  width: 50%;
  font-weight: bold;
  cursor: pointer;
  border-radius: .5rem;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.contact-form input[type="submit"]:hover {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.contact-form *::placeholder{
  color: rgb(4, 40, 83);
}

.contact-form [required]:valid{
  border: thin solid var(--form-ok-color)
}

.contact-form [required]:invalid{
  border: thin solid var(--form-error-color)
}

.contact-form-error{
  margin-top: -1rem;
  font-size: 80%;
  color: #fff;
  transition: all 8000ms ease;
}

.contact-form-error.is-active{
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none{
  display: none;
}

@keyframes show-message{
  0%{
    visibility: hidden;
    opacity: 0;
  }

  100%{
    visibility: visible;
    opacity: 1;
  }
}

footer p{
  text-align: center;
  font-size: 10px;
  color: #333;
}


